{% extends "omdb/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mb-4">
    <h2 class="text-info">Movie searching result</h2>
</div>
<div class="row">
    {% if movies %}
        {% for movie in movies %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top  " src="{{movie.Poster}}" alt="Card image cap" height="300px">
                <div class="card-body">
                    <h5 class="card-title">{{movie.Title}}</h5>
                    <p class="card-text">
                        Year: {{movie.Year}} <br>
                        Type: {{movie.Type}} <br>
                    </p>
                    <a href="{% url 'details' movie.imdbID %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    Not Found
    {% endif %}

</div>


{% endblock content %}